<div class="login-container">
  <mat-card>
    <h2>Iniciar sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email requerido</mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Email inválido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Contraseña requerida</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="loading">Entrar</button>
    </form>
    <div style="margin-top: 16px; text-align: center;">
      <a routerLink="/register" style="text-decoration: underline; cursor: pointer; color: #1976d2;">¿No tienes cuenta? Regístrate aquí</a>
    </div>
  </mat-card>
</div>
